*.class

# Package Files #
*.jar
*.war
*.ear

.DS_Store
._*

EmailClient/coverage/coverage.emma

EmailClient/coverage/emmascript.xml

EmailClient/coverage/template.emma

EmailClient/nbproject/coverage.properties
